.appContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: orange;
  padding: 0 50px;
  margin-bottom: 80px;
  height: 40px;
}

.calculator {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #fff;
}

form input {
  border: 1px solid rgb(216, 214, 214);
  outline: 0;
  width: 100px;
  font-size: 16px;
  height: 60px;
  cursor: pointer;
}

form input[type="button"]:hover {
  background-color: grey;
}

form .display {
  display: flex;
  justify-content: flex-end;
}

form .display input {
  text-align: end;
  flex: 1;
  background-color: rgb(133, 132, 132);
  color: #fff;
  font-size: 20px;
}

.btnOperator {
  background-color: orange;
}

.btnOperator-0 {
  width: 50%;
}

.quoteContainer {
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quotes {
  color: rgb(67, 66, 66);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.loading {
  font-size: 60px;
  color: rgb(250, 194, 10);
}

.Logo {
  color: blueviolet;
  font-size: 16px;
}

.links {
  text-decoration: none;
  margin-right: 30px;
  padding: 4px;
  color: rgb(243, 243, 243);
  border-radius: 5px;
  background-color: rgb(98, 88, 50);
}

.navLinks {
  display: flex;
  flex-direction: row;
}
